* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(https://cdnportal.mobalytics.gg/production/2023/05/9c01ad29-fractured-peaks-splash-1.jpg);
  background-size: 100vw 100vh;
  background-position: center top;
}

/* navbar regular css start */
.navbar-area {
  background: rgba(33, 42, 52, 0.6);
  border-bottom: 1px solid #000;
}
.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a.site-logo {
  padding-left: 1%;
  font-family: "Cinzel Decorative", cursive;
  font-size: 32px;
  text-transform: uppercase;
  color: #c7d2e4;
  text-decoration: none;
}
.site-navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.site-navbar ul li a {
  color: #c7d2e4;
  padding: 20px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
.site-navbar ul li a:hover {
  background: rgba(255, 255, 255, 0.1);
}
/* navbar regular css end */

#formBox,
#characterContainerBox,
#aboutContainerBox {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  height: 100%;
  width: 100%;
  box-shadow: inset;
  border: 1px solid rgb(9, 11, 18);
  border-radius: 5px;
}

#formFrame,
#containCharacterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#characterForm,
#characterContainer,
#aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  color: #c7d2e4;
  gap: 0.6rem;
  padding: 1rem;
  width: fit-content;
  background-color: rgba(29, 39, 50, 0.8);
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 5px 15px 20px 10px rgba(0, 0, 0, 0.75);
}
